<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>

    <body id="purpleBackground">
        <img src="logo.png" class="center">
        <div class="tab">
            <button class="tablinks" onclick="location.href = '/';">Home</button>
            <button class="tablinks" onclick="location.href = '/getadddoctor';">Add Doctor</button>
            <button class="tablinks" onclick="location.href = '/getaddpatient';">Add Patient</button>
            <button class="tablinks" onclick="location.href = '/getalldoctors';">List Doctors</button>
            <button class="tablinks" onclick="location.href = '/getallpatients';">List Patients</button>
            <button class="tablinks" onclick="location.href = '/deletebyname';">Delete Patient</button>
            <button class="tablinks" onclick="location.href = '/updatedoctor';">Update Doctor</button>
            <button class="tablinks" onclick="location.href = '/deletedocbyid';">Delete Doctor By ID</button>
        </div>

        <h1>
            <h2>
                Enter new Doctor: 
            </h2>
            <div class="container">
                <form action="postnewdoctor" method="POST">
                    <h3>Information</h3>
                    <lable>First Name*</lable>
                    <input type="text" name="firstName" /> <br>
                    <label>Last Name</label>
                    <input type="text" name="lastName" /> <br>
                    <label>Date of Birth</label>
                    <input type="date" name="dob" /> <br><br>
                    <h3>Address</h3>
                    <label>State</label> 
                    <input type="text" name="state"/> <br>
                    <label>Suburb</label> 
                    <input type="text" name="suburb"/> <br>
                    <label>Street</label> 
                    <input type="text" name="street"/> <br>
                    <label>Unit</label> 
                    <input type="text" name="unit"/> <br>
                    <label>Number of Patients</label> 
                    <input type="number" name="numPatients"/> <br>
                    <i>The '*' fields are required</i><br>
                    <button>Submit</button>
                </form>
            </div>
        </h1>
    </body>
</html>