<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>

    <body id="purpleBackground">
        <img src="logo.png" class="center">
        <div class="tab">
            <button class="tablinks" onclick="location.href = '/';">Home</button>
            <button class="tablinks" onclick="location.href = '/getadddoctor';">Add Doctor</button>
            <button class="tablinks" onclick="location.href = '/getaddpatient';">Add Patient</button>
            <button class="tablinks" onclick="location.href = '/getalldoctors';">List Doctors</button>
            <button class="tablinks" onclick="location.href = '/getallpatients';">List Patients</button>
            <button class="tablinks" onclick="location.href = '/deletebyname';">Delete Patient</button>
            <button class="tablinks" onclick="location.href = '/updatedoctor';">Update Doctor</button>
        </div>
        <h1>
            <h2>
                Enter Doctor: 
            </h2>
            <div class="container">
                <form action="updatedoctor" method="POST">
                    <lable>Doctor ID</lable>
                    <input type="text" name="doctorId" /> <br>
                    <label>Number of Patients</label>
                    <input type="text" name="newNumPatients" /> <br>
                    <button>Submit</button>
                </form>
            </div>
        </h1>
    </body>
</html>